<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gongzone.central.party.accept.mapper.AcceptMapper">
    <select id="getPartyDetail" resultType="AcceptDetail">
        SELECT
            b.b_title AS boardTitle,
            CONCAT('[', c.c_group1, ']', c.c_group2, ' - ', c.c_group3) AS partyCateCode,
            p.p_url AS productUrl,
            b.b_body AS boardBody,
            p.p_amount AS partyAmount,
            p.p_amount_remain AS remainAmount,
            p.p_price AS partyPrice,
            p.p_price_remain AS remainPrice,
            b.b_period AS endDate,
            p.status_code AS status,
            CONCAT(l.location_do, ' ', l.location_si, ' ', l.location_gu, ' ', l.location_dong, ' ', l.location_detail) AS address,
            p.p_no AS partyNo,
            b.m_no AS partyLeader,
            f.file_path AS img
        FROM
            party AS p
            INNER JOIN
            board AS b
            ON
            p.b_no = b.b_no
            INNER JOIN
            location AS l
            ON
            b.b_no = l.b_no
            INNER JOIN
            category AS c
            ON
            c.c_code = p.c_code
            INNER JOIN
            file_relation AS fr
            ON
            b.b_no = fr.file_usage
            INNER JOIN
            file AS f
            ON
            f.file_no = fr.file_no
        WHERE
            p_no = #{partyNo};
    </select>
    <select id="getParticipants" resultType="com.gongzone.central.party.accept.domain.AcceptMember">
        SELECT
            m.m_nick AS memberNick,
            pm.pm_amount AS memberAmount,
            m.m_email AS memberEmail,
            m.m_no AS memberNo
        FROM
            party_member AS pm
                INNER JOIN
            member AS m
            ON
                pm.m_no = m.m_no
        WHERE
            pm.p_no = #{partyNo};
    </select>

    <select id="getRequestMember" resultType="com.gongzone.central.party.accept.domain.RequestMember">
        SELECT
            m.m_nick AS memberNick,
            pr.request_amount AS memberAmount,
            m.m_email AS memberEmail,
            pr.status_code AS requestStatus,
            m.m_no AS memberNo
        FROM
            party_request AS pr
                INNER JOIN
            member AS m ON pr.m_no = m.m_no
        WHERE
            pr.p_no = #{partyNo};
    </select>


    <!-- 파티 번호 찾기 -->
    <select id="findPointNoByMemberNo" parameterType="String" resultType="String">
        SELECT
            p.p_no AS partyNo
        FROM
            party AS p
        JOIN
            board AS b
        ON
            p.b_no = b.b_no
        WHERE
            b.m_no = #{memberNo}
    </select>

    <update id="updatePartyStatus">
        UPDATE
            party_request
        SET
            status_code = #{statusCode.code}
        WHERE
            m_no = #{partyId};
    </update>


    <insert id="insertPartyMember" parameterType="com.gongzone.central.party.accept.domain.AddedMember">
        <selectKey keyProperty="partyMemberNo" resultType="String" order="BEFORE">
            SELECT CONCAT('PM', LPAD(COALESCE(MAX(CAST(SUBSTRING(p_member_no, 3) AS UNSIGNED)), 0) + 1, 6, '0')) AS partyMemberNo
            FROM party_member
        </selectKey>
        INSERT INTO party_member
        (p_member_no, p_no, m_no, pm_amount, pm_price, member_join_date, member_is_leader)
        VALUES (#{partyMemberNo}, #{partyNo}, #{memberNo}, #{amount}, #{price}, NOW(), '파티원')
    </insert>

    <update id="updateAmountMember" parameterType="com.gongzone.central.party.accept.domain.AcceptDetail">
        UPDATE party
        SET
            p_amount_remain = p_amount_remain - #{amount},
            p_price_remain = p_price_remain - #{price},
            status_code = CASE
                              WHEN p_amount_remain - #{amount} = 0 THEN 'S060102'
                              ELSE status_code
                END
        WHERE p_no = #{partyNo};
    </update>

    <delete id="deletePartyStatus">
        UPDATE
            party_request
        SET
            status_code = #{statusCode.code}
        WHERE
            m_no = #{partyId};
    </delete>

    <select id="requestMemberByPartyId" resultType="com.gongzone.central.party.accept.domain.RequestParty">
        SELECT
            p_request_no AS requestNo,
            p_no AS partyNo,
            m_no AS memberNo,
            request_amount AS requestAmount,
            request_date AS requestDate,
            status_code AS statusCode
        FROM
            party_request
        WHERE
            m_no = #{partyId};
    </select>


</mapper>
