<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gongzone.central.file.mapper.FileMapper">

    <insert id="addFile" parameterType="com.gongzone.central.file.domain.FileUpload" useGeneratedKeys="true" keyProperty="fileIdx" keyColumn="file_no">
        INSERT INTO file (file_original_name, file_new_name, file_path, file_size, file_date)
        VALUES (#{fileOriginalName}, #{fileNewName}, #{filePath}, #{fileSize}, NOW())
    </insert>

    <resultMap id="BoardFileList" type="com.gongzone.central.file.domain.FileUpload">
        <id property="fileIdx" column="file_no"/>
        <result property="fileOriginalName" column="file_original_name"/>
        <result property="fileNewName" column="file_new_name"/>
        <result property="filePath" column="file_path"/>
        <result property="fileSize" column="file_size"/>
        <result property="fileDate" column="file_date"/>
    </resultMap>

    <select id="getBoardFileList" parameterType="com.gongzone.central.file.domain.FileUpload" resultMap="BoardFileList">
        SELECT
            f.file_no,
            f.file_original_name,
            f.file_new_name,
            f.file_path,
            f.file_size,
            f.file_date
        FROM
            file AS f
        WHERE
            f.file_no = #{fileNo}
    </select>

</mapper>