<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gongzone.central.point.mapper.PointMapper">

  <!-- Result Mapping -->
  <resultMap id="PointResultMap" type="Point">
    <id property="memberPointNo" column="m_point_no" />
    <result property="memberNo" column="m_no" />
    <result property="memberPoint" column="m_point" />
  </resultMap>

  <resultMap id="PointHistoryResultMap" type="PointHistory">
    <id property="pointHistoryNo" column="point_history_no" />
    <result property="memberPointNo" column="m_point_no" />
    <result property="type" column="type_code" />
    <result property="pointHistoryBefore" column="point_history_before" />
    <result property="pointHistoryChange" column="point_history_change" />
    <result property="pointHistoryAfter" column="point_history_after" />
    <result property="pointHistoryDate" column="point_history_date" />
    <result property="status" column="status_code" />
  </resultMap>


  <!-- Query -->
  <select id="getHistories" resultMap="PointHistoryResultMap">
    SELECT
      point_history_no,
      m_point_no,
      type_code,
      point_history_before,
      point_history_change,
      point_history_after,
      point_history_date,
      status_code
    FROM
      point_history
    WHERE
      m_point_no = #{memberPointNo}
    ORDER BY
      point_history_no DESC
    LIMIT #{size} OFFSET #{page};
  </select>

  <select id="getHistory" resultMap="PointHistoryResultMap">
    SELECT
      point_history_no,
      m_point_no,
      type_code,
      point_history_before,
      point_history_change,
      point_history_after,
      point_history_date,
      status_code
    FROM
      point_history
    WHERE
      m_point_no = #{memberPointNo}
      AND point_history_no = #{pointHistoryNo};
  </select>

  <!-- 여기 as 붙임-->
  <select id="getCurrentPoint" parameterType="String" resultType="int">
    SELECT
      m_point
    FROM
      member_point
    WHERE
      m_point_no = #{memberPointNo};
  </select>

  <select id="getLastHistoryPk" resultType="String">
    SELECT
      point_history_no
    FROM
      point_history
    ORDER BY
      point_history_no DESC
    LIMIT 1;
  </select>

  <update id="updatePoint">
    UPDATE member_point
    SET
      m_point = m_point + #{change}
    WHERE
      m_point_no = #{memberPointNo};
  </update>

  <insert id="insertPointHistory">
    INSERT INTO point_history
      (point_history_no, m_point_no, type_code, point_history_before, point_history_change, point_history_after)
    VALUES
      (#{pointHistoryNo}, #{memberPointNo}, #{type}, #{pointHistoryBefore}, #{pointHistoryChange}, #{pointHistoryAfter});
  </insert>

  <update id="updateHistorySuccess">
    UPDATE point_history
    SET
      point_history_after = #{pointHistoryAfter},
      status_code         = 'S030101' -- 포인트 충전 성공
    WHERE
      point_history_no = #{historyNo};
  </update>

  <select id="getPointNoByMemberNo" parameterType="String" resultType="Point">
    SELECT
      m_point_no AS memberPointNo,
      m_no       AS memberNo,
      m_point    AS memberPoint
    FROM
      member_point
    WHERE
      m_no = #{memberNo}
  </select>
  
  <!-- 예시 -->
  <select id="getPointByPointNo" parameterType="String" resultType="Point">
    SELECT
      m_point AS memberPoint
    FROM
      member_point
    WHERE
      m_point_no = #{memberPointNo};
  </select>

  <!-- merber_point insert -->
  <insert id="insertPoint" parameterType="Point">
    INSERT INTO member_point
      (m_point_no, m_no, m_point)
    VALUES
      (#{memberPointNo}, #{memberNo}, #{memberPoint})
  </insert>

  <select id="getLastMemberPointNo" resultType="String">
    SELECT
      max(m_point_no)
    FROM
      member_point
  </select>

  <select id="getMemberPointNo" resultType="String">
    SELECT
      m_point_no
    FROM
      member_point
    WHERE
      m_no = #{memberNo};
  </select>

</mapper>
