<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gongzone.central.member.login.mapper.LoginMapper">

    <select id="getMemberFromId" resultType="Member">
        SELECT m_no AS 'memberNo',
               m_level AS 'memberLevel',
               m_id AS 'memberId',
               m_pw AS 'memberPw',
               m_name AS 'memberName',
               m_email AS 'memberEmail',
               m_phone AS 'memberPhone',
               m_gender AS 'memberGender',
               m_addr AS 'memberAddress',
               m_birthday AS 'memberBirthday',
               m_nick AS 'memberNick',
               status_code AS 'memberStatus'
        FROM member
        WHERE m_id = #{loginId};
    </select>

</mapper>