<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gongzone.central.member.Management.mapper.ManagementMapper">

    <!-- Result Mapping -->
    <resultMap id="MemberResultMap" type="Member">
        <id property="memberNo" column="m_no" />
        <result property="memberLevel" column="m_level" />
        <result property="memberId" column="m_id" />
        <result property="memberPw" column="m_pw" />
        <result property="memberName" column="m_name" />
        <result property="memberEmail" column="m_email" />
        <result property="memberPhone" column="m_phone" />
        <result property="memberGender" column="m_gender" />
        <result property="memberAddress" column="m_addr" />
        <result property="memberBirthday" column="m_birthday" />
        <result property="memberNick" column="m_nick" />
        <result property="memberStatus" column="status_code" />
    </resultMap>

    <select id="findByNo" parameterType="String" resultMap="MemberResultMap">
        SELECT * FROM member WHERE m_no = #{memberNo}
    </select>

    <select id="findAll" resultType="Member">
        SELECT
            m_no AS memberNo,
            m_level AS memberLevel,
            m_id AS memberId,
            m_pw AS memberPw,
            m_name AS memberName,
            m_email AS memberEmail,
            m_phone AS memberPhone,
            m_gender AS memberGender,
            m_addr AS memberAddress,
            m_birthday AS memberBirthday,
            m_nick AS memberNick,
            status_code AS memberStatus
        FROM
            member
    </select>

    <select id="findQuitList" resultType="MemberQuit">
        SELECT
            m.m_no AS memberNo,
            m.m_level AS memberLevel,
            m.m_id AS memberId,
            m.m_pw AS memberPw,
            m.m_name AS memberName,
            m.m_email AS memberEmail,
            m.m_phone AS memberPhone,
            m.m_gender AS memberGender,
            m.m_addr AS memberAddress,
            m.m_birthday AS memberBirthday,
            m.m_nick AS memberNick,
            m.status_code AS memberStatus,
            mq.m_quit_no AS memberQuitNo,
            mq.type_code AS quitType,
            mq.quit_reason_detail AS quitReasonDetail,
            mq.quit_date AS quitDate
        FROM
            member AS m
        INNER JOIN
            member_quit AS mq
        ON
            m.m_no = mq.m_no
        WHERE
            status_code = 'S010104';
    </select>

    <select id="findSleepList" resultType="MemberSleep">
        SELECT
            m.m_no AS memberNo,
            m.m_level AS memberLevel,
            m.m_id AS memberId,
            m.m_pw AS memberPw,
            m.m_name AS memberName,
            m.m_email AS memberEmail,
            m.m_phone AS memberPhone,
            m.m_gender AS memberGender,
            m.m_addr AS memberAddress,
            m.m_birthday AS memberBirthday,
            m.m_nick AS memberNick,
            m.status_code AS memberStatus,
            ms.m_sleep_no AS memberSleepNo,
            ms.m_last_login AS memberLastLogin,
            ms.m_sleep_date AS memberSleepDate
        FROM
            member AS m
        INNER JOIN
            member_sleep AS ms
        ON
            m.m_no = ms.m_no
        WHERE
            status_code = 'S010102';
    </select>

    <select id="findPunishList" resultType="MemberPunish">
        SELECT
            m.m_no AS memberNo,
            m.m_level AS memberLevel,
            m.m_id AS memberId,
            m.m_pw AS memberPw,
            m.m_name AS memberName,
            m.m_email AS memberEmail,
            m.m_phone AS memberPhone,
            m.m_gender AS memberGender,
            m.m_addr AS memberAddress,
            m.m_birthday AS memberBirthday,
            m.m_nick AS memberNick,
            m.status_code AS memberStatus,
            mp.m_punish_no AS memberPunishNo,
            mp.type_code AS punishType,
            mp.punish_reason AS punishReason,
            mp.punish_start_date AS punishStartDate,
            mp.punish_period AS punishPeriod,
            mp.punish_end_period AS punishEndPeriod,
            mp.status_code AS punishStatus
        FROM
            member AS m
        INNER JOIN
            member_punish AS mp
        ON
            m.m_no = mp.m_no
        WHERE
            m.status_code = 'S010103';
    </select>

    <!-- Update -->
    <update id="updateStatus" parameterType="Member">
        UPDATE
            member
        SET
            status_code = #{statusCode.code}
        WHERE
            m_no = #{memberNo};
    </update>

    <update id="updatePunish" parameterType="MemberPunish">
        UPDATE
            member_punish
        SET
            punish_period = #{punishPeriod},
            punish_end_period = DATE_ADD(punish_end_period, INTERVAL #{punishPeriod} DAY)
        WHERE
            m_no = #{memberNo};
    </update>

    <insert id="insertPunish" parameterType="MemberPunish">
        INSERT INTO
            member_punish (m_no, m_admin_no, type_code, punish_start_date, punish_reason, punish_period, punish_end_period, status_code)
        Values
            (#{memberNo},#{memberAdminNo}, #{punishType}, NOW(), #{punishReason}, #{punishPeriod}, DATE_ADD(NOW(), INTERVAL #{punishPeriod} DAY), #{punishStatus})
    </insert>


</mapper>