<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gongzone.central.member.note.mapper.NoteMapper">

    <resultMap id="NoteResultMap" type="Note">
        <id property="n.note_no" column="noteNo"/>
        <id property="m.m_id" column="memberId"/>
        <result property="n.m_no" column="memberNo"/>
        <result property="n.m_target_no" column="memberTargetNo"/>
        <result property="n.note_body" column="noteBody"/>
        <result property="n.note_send_time" column="noteSendTime"/>
        <result property="n.note_read_time" column="noteReadTime"/>
        <result property="n.status_code" column="statusCode"/>
        <result property="n.status_code_target" column="statusCodeTarget"/>
    </resultMap>

    <select id="getNoteByNo" resultMap="NoteResultMap">
        SELECT * FROM note WHERE note_no = #{noteNo}
    </select>

    <select id="noteList" resultType="Note">
        SELECT
            n.note_no AS noteNo,
            m.m_id AS memberId,
            n.m_no AS memberNo,
            n.m_target_no AS memberTargetNo,
            n.note_body AS noteBody,
            n.note_send_time AS noteSendTime,
            n.note_read_time AS noteReadTime,
            n.status_code AS statusCode,
            n.status_code_target AS statusCodeTarget
        FROM
            note AS n
                INNER JOIN
            member AS m
            ON
                n.m_no = m.m_no
        WHERE
            n.m_target_no = #{memberNo}
                AND
            (n.status_code = 'S010301' OR n.status_code = 'S010302')
                AND
            (n.status_code_target = 'S010301' OR n.status_code_target = 'S010302')
    </select>

    <insert id="insertNote" parameterType="Note">
        INSERT INTO note (m_no, m_target_no, note_body, status_code, status_code_target)
        VALUES (#{memberNo}, #{memberTargetNo}, #{noteBody}, 'S010301', 'S010301')
    </insert>

    <update id="updateReadTimeNote">
        UPDATE note
        SET
            note_read_time = NOW(),
            status_code = 'S010302',
            status_code_target = 'S010302'
        WHERE note_no = #{noteNo}
    </update>

    <update id="updateDeleteNote">
        UPDATE note
        SET
            status_code = 'S010303'
        WHERE note_no = #{noteNo}
    </update>

    <update id="updateDeleteNoteTarget">
        UPDATE note
        SET
            status_code_target = 'S010303'
        WHERE note_no = #{noteNo}
    </update>

</mapper>