<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--   /**
        * @제목: 비밀번호 맵퍼 xml
        * @생성일: 2024-06-18
        * @수정일: 2024-06-19
        * @내용: member의 기본키 memberNo를 이용해 password 조회 및 업데이트
        */-->
<mapper namespace="com.gongzone.central.member.myInfo.mapper.PasswordMapper">

    <!-- Result Mapping -->
    <resultMap id="PasswordResultMap" type="com.gongzone.central.member.domain.Member">
        <id     property="memberNo" column="m_no" />
        <result property="memberId" column="m_id" />
        <result property="memberPw" column="m_pw" />
    </resultMap>

    <!-- Read -->
    <select id="findByNo" parameterType="String" resultMap="PasswordResultMap">
        SELECT m_no,m_id, m_pw
        FROM member
        WHERE m_no = #{memberNo}
    </select>

    <!-- Update -->
    <update id="updatePassword" parameterType="map">
        UPDATE member SET m_pw = #{newPassword}
        WHERE m_no = #{memberNo}
    </update>
    
</mapper>