<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gongzone.central.payment.mapper.PaymentMapper">

  <!-- Query -->
  <insert id="insertPaymentHistory">
    INSERT INTO point_payment
      (point_history_no, pay_type, pay_tx_type, pay_tx_id, pay_id, pay_code, pay_message, status_code)
    VALUES
      (#{pointHistoryNo}, #{type}, #{transactionType}, #{txId}, #{paymentId}, #{code}, #{message}, #{status});
  </insert>

</mapper>
