<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gongzone.central.announce.mapper.AnnounceMapper">
    <!-- Result Mapping -->
    <resultMap id="AnnounceResultMap" type="com.gongzone.central.announce.domain.Announce">
        <id     property="announceNo" column="announce_no" />
        <result property="memberNo" column="m_admin_no" />
        <result property="typeCode" column="type_code" />
        <result property="announceTitle" column="announce_title" />
        <result property="announceBody" column="announce_body" />
        <result property="announceDate" column="announce_date" />
        <result property="viewCount" column="announce_view_count" />
        <result property="typeCodeDes" column="code_description" />
    </resultMap>
    <!-- read -->
    <!-- 전체공지 조회 -->
    <select id="findAllAnnounce" resultMap="AnnounceResultMap">
        SELECT
            a.announce_no,
            a.m_admin_no,
            a.type_code,
            a.announce_title,
            a.announce_date,
            a.announce_view_count,
            t.code_description
        FROM announce AS a
        INNER JOIN type_code AS t ON a.type_code = t.type_code
        ORDER BY a.announce_no DESC
        LIMIT #{offset}, #{limit}
    </select>
    <!-- 타입 별 공지 조회 -->
    <select id="findAnnounceByType" resultMap="AnnounceResultMap">
        SELECT
            a.announce_no,
            a.m_admin_no,
            a.type_code,
            a.announce_title,
            a.announce_date,
            a.announce_view_count,
            t.code_description
        FROM announce AS a
        INNER JOIN type_code AS t ON a.type_code = t.type_code
        WHERE t.code_description = #{type}
        ORDER BY a.announce_no DESC
        LIMIT #{offset}, #{limit}
    </select>
    <!-- 전체 공지 개수 조회 -->
    <select id="countAllAnnounce" resultType="int">
        SELECT COUNT(announce_no) FROM announce
    </select>
    <!-- 타입 별 공지 개수 조회 -->
    <select id="countAnnounceByType" resultType="int">
        SELECT COUNT(a.announce_no)
        FROM announce AS a
        INNER JOIN type_code AS t ON a.type_code = t.type_code
        WHERE t.code_description = #{type}
    </select>
    <!-- 특정 글 조회 후 조회수 증가-->
    <select id="findAnnounceDetail" resultMap="AnnounceResultMap">
        SELECT
            a.announce_no,
            a.m_admin_no,
            a.type_code,
            a.announce_title,
            a.announce_body,
            a.announce_date,
            a.announce_view_count,
            t.code_description
        FROM announce AS a
        INNER JOIN type_code AS t ON a.type_code = t.type_code
        WHERE a.announce_no = #{announceNo}
    </select>
    <!-- create -->
    <!-- 공지 작성 -->
    <insert id="createAnnounce" parameterType="com.gongzone.central.announce.domain.Announce">
        INSERT INTO announce (
            m_admin_no,
            type_code,
            announce_title,
            announce_body,
            announce_date,
            announce_view_count
        )
        VALUES (
            #{memberNo},
            #{typeCode},
            #{announceTitle},
            #{announceBody},
            NOW(),
            0
        )
    </insert>
    <!-- update -->
    <!-- 조회수 증가 -->
    <update id="incrementViews">
        UPDATE announce
        SET announce_view_count = announce_view_count + 1
        WHERE announce_no = #{announceNo};
    </update>
    <!-- 작성 공지사항 수정 -->
    <update id="updateAnnounce" parameterType="com.gongzone.central.announce.domain.Announce">
        UPDATE announce
        <set>
            <if test="typeCode != null and typeCode != ''">
                type_code = #{typeCode},
            </if>
            <if test="announceTitle != null and announceTitle != ''">
                announce_title = #{announceTitle},
            </if>
            <if test="announceBody != null and announceBody != ''">
                announce_body = #{announceBody}
            </if>
        </set>
        WHERE announce_no = #{announceNo}
    </update>
    <!-- delete -->
    <!-- 공지사항 삭제 -->
    <delete id="deleteAnnounce" parameterType="int">
        DELETE FROM announce
        WHERE announce_no = #{announceNo}
    </delete>
</mapper>
