<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gongzone.central.board.mapper.BoardMapper">
    <resultMap id="BoardInfo" type="com.gongzone.central.board.domain.Board">
        <id property="boardNo" column="b_no"/>
        <result property="memberNo" column="m_no"/>
        <result property="boardTitle" column="b_title"/>
        <result property="boardBody" column="b_body"/>
        <result property="endDate" column="b_period"/>
        <result property="locationDo" column="location_do"/>
        <result property="locationSi" column="location_si"/>
        <result property="locationGu" column="location_gu"/>
        <result property="locationDong" column="location_dong"/>
        <result property="locationDetail" column="location_detail"/>
        <result property="locationX" column="location_x"/>
        <result property="locationY" column="location_y"/>
        <result property="partyNo" column="p_no"/>
        <result property="category" column="c_code"/>
        <result property="productUrl" column="p_url"/>
        <result property="total" column="p_amount"/>
        <result property="remain" column="p_amount_remain"/>
        <result property="totalPrice" column="p_price"/>
        <result property="remainPrice" column="p_price_remain"/>
        <result property="amount" column="pm_amount"/>
        <result property="amountPrice" column="pm_price"/>
        <result property="leader" column="member_is_leader"/>
    </resultMap>

    <select id="getBoardInfo" parameterType="String" resultMap="BoardInfo">
        SELECT
            b.b_no,
            b.m_no,
            b.b_title,
            b.b_body,
            b.b_period,
            l.location_do,
            l.location_si,
            l.location_gu,
            l.location_dong,
            l.location_detail,
            l.location_x,
            l.location_y,
            p.p_no,
            p.c_code,
            p.p_url,
            p.p_amount,
            p.p_amount_remain,
            p.p_price,
            p.p_price_remain,
            pm.pm_amount,
            pm.pm_price,
            pm.member_is_leader
        FROM
            board AS b
                LEFT JOIN location AS l ON b.b_no = l.b_no
                LEFT JOIN party AS p ON b.b_no = p.b_no
                LEFT JOIN party_member AS pm ON p.p_no = pm.p_no
        WHERE
            b.b_no = #{boardNo} AND pm.member_is_leader = '파티장'


    </select>

    <delete id="deleteWish" parameterType="String">
        DELETE FROM wishlist
        WHERE b_no = #{boardNo} AND m_no = #{memberNo}
    </delete>

    <insert id="insertWish" parameterType="String" useGeneratedKeys="true" keyColumn="wish_no">
        INSERT INTO wishlist
            (b_no, m_no, wish_date)
        VALUES (#{boardNo}, #{memberNo}, NOW())
    </insert>

    <update id="updateViewCount" parameterType="String">
        UPDATE board
        SET b_view_count = b_view_count + 1
        WHERE b_no = #{boardNo}
    </update>

    <select id="getBoardWish" parameterType="String">
        SELECT
            COUNT(1)
        FROM
            wishlist AS w
        WHERE
            w.b_no = #{boardNo}
          AND
            w.m_no = #{memberNo}
    </select>

    <resultMap id="BoardReplyList" type="com.gongzone.central.board.domain.BoardReply">
        <id property="replyNo" column="reply_no"/>
        <result property="boardNo" column="b_no"/>
        <result property="memberNo" column="m_no"/>
        <result property="replyBody" column="reply_body"/>
        <result property="replyDate" column="reply_date"/>
        <result property="replyReportCount" column="reply_report_count"/>
        <result property="statusCode" column="status_code"/>
    </resultMap>

    <select id="getBoardReplyList" parameterType="String" resultMap="BoardReplyList">
        SELECT
            r.reply_no,
            r.b_no,
            r.m_no,
            r.reply_body,
            r.reply_date,
            r.reply_report_count,
            r.status_code
        FROM
            reply AS r
        WHERE
            r.b_no = #{boardNo}
    </select>


   <insert id="insertBoard" parameterType="com.gongzone.central.board.domain.Board">
       <selectKey keyProperty="boardNo" resultType="String" order="BEFORE">
           SELECT CONCAT('B', LPAD(COALESCE(MAX(CAST(SUBSTRING(b_no, 2) AS UNSIGNED)), 0) + 1, 6, '0')) AS boardNo
           FROM board
       </selectKey>
       INSERT INTO board
       (b_no, m_no, b_title, b_body, b_date, b_period, b_view_count, b_wish_count, b_report_count, status_code)
       VALUES (#{boardNo}, #{memberNo}, #{boardTitle}, #{boardBody}, NOW(), #{endDate}, 0, 0, 0, 'S040101')
   </insert>

    <insert id="insertFileRelation" parameterType="com.gongzone.central.board.domain.Board" useGeneratedKeys="true" keyProperty="fileRelationNo" keyColumn="file_relation_no">
        INSERT INTO file_relation (file_no, file_usage)
        VALUES (#{fileNo}, #{fileUsage})
    </insert>

    <insert id="insertLocation" parameterType="com.gongzone.central.board.domain.Board" useGeneratedKeys="true" keyProperty="locationNo" keyColumn="location_no">
        INSERT INTO location
        (b_no, location_do, location_si, location_gu, location_dong, location_detail, location_x, location_y)
        VALUES (#{boardNo}, #{locationDo}, #{locationSi}, #{locationGu}, #{locationDong}, #{locationDetail}, #{locationX}, #{locationY})
    </insert>

    <insert id="insertParty" parameterType="com.gongzone.central.board.domain.Board">
        <selectKey keyProperty="partyNo" resultType="String" order="BEFORE">
            SELECT CONCAT('P', LPAD(COALESCE(MAX(CAST(SUBSTRING(p_no, 2) AS UNSIGNED)), 0) + 1, 6, '0')) AS partyNo
            FROM party
        </selectKey>
        INSERT INTO party
        (p_no, b_no, c_code, p_url, p_amount, p_amount_remain, p_price, p_price_remain, p_start_date, p_end_date, status_code)
        VALUES (#{partyNo}, #{boardNo}, #{category}, #{productUrl}, #{total}, #{remain}, #{totalPrice}, #{remainPrice}, NOW(), NULL, 'S060101')
    </insert>

    <insert id="insertPartyMember" parameterType="com.gongzone.central.board.domain.Board">
        <selectKey keyProperty="partyMemberNo" resultType="String" order="BEFORE">
            SELECT CONCAT('PM', LPAD(COALESCE(MAX(CAST(SUBSTRING(p_member_no, 3) AS UNSIGNED)), 0) + 1, 6, '0')) AS partyMemberNo
            FROM party_member
        </selectKey>
        INSERT INTO party_member
        (p_member_no, p_no, m_no, pm_amount, pm_price, member_join_date, member_is_leader)
        VALUES (#{partyMemberNo}, #{partyNo}, #{memberNo}, #{amount}, #{amountPrice}, NOW(), '파티장')
    </insert>

    <resultMap id="BoardListResultMap" type="com.gongzone.central.board.domain.Board">
        <id property="boardNo" column="b_no"/>
        <result property="memberNo" column="m_no"/>
        <result property="boardTitle" column="b_title"/>
        <result property="boardBody" column="b_body"/>
        <result property="startDate" column="b_date"/>
        <result property="endDate" column="b_period"/>
        <result property="viewCount" column="b_view_count"/>
        <result property="wishCount" column="b_wish_count"/>
        <result property="reportCount" column="b_report_count"/>
        <result property="boardStatus" column="status_code"/>

        <!-- 파일 관계 -->
        <result property="fileRelationNo" column="file_relation_no"/>
        <result property="fileNo" column="file_no"/>
        <result property="fileUsage" column="file_usage"/>


        <!-- 위치 정보 -->
        <result property="locationNo" column="location_no"/>
        <result property="locationDo" column="location_do"/>
        <result property="locationSi" column="location_si"/>
        <result property="locationGu" column="location_gu"/>
        <result property="locationDong" column="location_dong"/>
        <result property="locationDetail" column="location_detail"/>
        <result property="locationX" column="location_x"/>
        <result property="locationY" column="location_y"/>

        <!-- 파티 정보 -->
        <result property="partyNo" column="p_no"/>
        <result property="category" column="c_code"/>
        <result property="productUrl" column="p_url"/>
        <result property="total" column="p_amount"/>
        <result property="remain" column="p_amount_remain"/>
        <result property="totalPrice" column="p_price"/>
        <result property="remainPrice" column="p_price_remain"/>
        <result property="partyStatus" column="status_code"/>

        <!-- 파티원 정보 -->
        <result property="partyMemberNo" column="p_member_no"/>
        <result property="amount" column="pm_amount"/>
        <result property="amountPrice" column="pm_price"/>
        <result property="leader" column="member_is_leader"/>
    </resultMap>

    <select id="getBoardList" parameterType="com.gongzone.central.board.domain.BoardSearchRequest" resultMap="BoardListResultMap">
        SELECT
            b.b_no,
            b.m_no,
            b.b_title,
            b.b_body,
            b.b_date,
            b.b_period,
            b.b_view_count,
            b.b_wish_count,
            b.b_report_count,
            b.status_code,

            r.file_relation_no,
            r.file_no,
            r.file_usage,

            l.location_no,
            l.location_do,
            l.location_si,
            l.location_gu,
            l.location_dong,
            l.location_detail,
            l.location_x,
            l.location_y,

            p.p_no,
            p.c_code,
            p.p_url,
            p.p_amount,
            p.p_amount_remain,
            p.p_price,
            p.p_price_remain,
            p.status_code,

            pm.p_member_no,
            pm.pm_amount,
            pm.pm_price,
            pm.member_is_leader
            FROM
            board AS b
            LEFT JOIN file_relation AS r ON b.b_no = r.file_usage
            LEFT JOIN location AS l ON b.b_no = l.b_no
            LEFT JOIN party AS p ON b.b_no = p.b_no
            LEFT JOIN party_member AS pm ON p.p_no = pm.p_no
        <where>
            <if test="location != null and location != '*'.toString()">
                l.location_dong LIKE CONCAT('%', #{location}, '%')
            </if>

            <if test="category != null and category != '*'.toString()">
                AND p.c_code = #{category}
            </if>

            <if test="content != null and content != ''">
                AND b.b_title LIKE CONCAT('%', #{content}, '%')
            </if>
            AND b.status_code = 'S040101'
            AND pm.member_is_leader = '파티장'
        </where>
        ORDER BY b.b_date DESC
    </select>
</mapper>