<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gongzone.central.board.mapper.BoardMapper">
   <insert id="insertBoard" parameterType="com.gongzone.central.board.domain.Board">
       <selectKey keyProperty="boardNo" resultType="String" order="BEFORE">
           SELECT CONCAT('B', LPAD(COALESCE(MAX(CAST(SUBSTRING(b_no, 2) AS UNSIGNED)), 0) + 1, 6, '0')) AS boardNo
           FROM board
       </selectKey>
       INSERT INTO board
       (b_no, m_no, b_title, b_body, b_date, b_period, b_view_count, b_wish_count, b_report_count, status_code)
       VALUES (#{boardNo}, #{memberNo}, #{boardTitle}, #{boardBody}, NOW(), #{endDate}, 0, 0, 0, 'S040101')
   </insert>
   
    <resultMap id="BoardListResultMap" type="BoardSearchList">
        <id property="boardNo" column="b_no"/>
        <result property="boardTitle" column="b_title"/>
        <result property="boardCate" column="c_code"/>
        <result property="boardImage" column="b_image_source"/>
    </resultMap>

    <select id="getBoardList" parameterType="String" resultMap="BoardListResultMap">
        SELECT
            b.b_no,
            b.b_title,
            p.c_code,
            i.b_image_source
        FROM
            board AS b
                Join
            board_image AS i
            ON
                b.b_no = i.b_no
                Join
            party AS p
            ON
                b.b_no = p.b_no
        WHERE
            b.b_no = 'B000002';
    </select>
</mapper>