<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 매퍼 인터페이스 경로 맞춰 주세요. -->
<mapper namespace="com.gongzone.central.sample.mapper.SampleMemberMapper">

  <!-- Result Mapping, 데이터베이스 컬럼명과 도메인 객체 필드명을 맵핑함 -->
  <resultMap id="SampleMemberResultMap" type="SampleMember">
    <!-- property: 필드명, column: 컬럼명 -->
    <id property="memberNo" column="m_no"/>
    <result property="memberId" column="m_id"/>
  </resultMap>

  <!-- 매퍼 인터페이스 메서드명과 id 일치시키고, parameterType, resultType, resultMapType 설정해주세요. -->
  <select id="findSampleMemberByMemberNo" parameterType="String" resultMap="SampleMemberResultMap">
    SELECT m_no, m_id
    FROM member
    WHERE m_no = #{memberNo};
  </select>
  <!-- select 말고도 insert, update, delete, sql 등 문법 많음, 검색 후 사용 -->

</mapper>
