<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gongzone.central.point.withdrawal.mapper.WithdrawMapper">

  <!-- Result Mapping -->
  <resultMap id="PointResultMap" type="Point">
    <id property="withdrawNo" column="withdraw_no" />
    <result property="pointHistoryNo" column="point_history_no" />
    <result property="withdrawBank" column="withdraw_bank" />
    <result property="withdrawAccount" column="withdraw_account" />
    <result property="withdrawName" column="withdraw_name" />
    <result property="withdrawAmount" column="withdraw_amount" />
    <result property="withdrawDate" column="withdraw_date" />
    <result property="status" column="status_code" />
  </resultMap>

  <!-- Query -->
  <insert id="insertPointWithdraw">
    -- insertPointWithdraw: 포인트 인출 정보를 삽입한다.
    INSERT INTO point_withdraw
      (point_history_no, withdraw_bank, withdraw_account, withdraw_name, withdraw_amount, status_code)
    VALUES
      (#{pointHistoryNo}, #{withdrawBank}, #{withdrawAccount}, #{withdrawName}, #{withdrawAmount}, #{status});
  </insert>

</mapper>
